{{!-- EVENT AND CALENDAR CONTENT GO HERE --}}

{{!-- NAV BIDNESS --}}


 <div id='external-events'>
    <p>
      <strong>Workouts</strong>
    </p>

    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">


          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-expanded="false">
            Cardio
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="dropdown-header">Type</div>
            <a class="dropdown-item fc-event" href="#">Speed Walking</a>
            <a class="dropdown-item fc-event" href="#">Jogging</a>
            <a class="dropdown-item fc-event" href="#">Running</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">Duration</div>
            <a class="dropdown-item fc-event" href="#">30 minutes or less</a>
            <a class="dropdown-item fc-event" href="#">30 min - 1 hour</a>
            <a class="dropdown-item fc-event" href="#">1 hour +</a>
            <span class="dropdown-item-text">You go, rockstar!</span>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Strength
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div class="dropdown-header">Type</div>
          <li><a class="dropdown-item fc-event" href="#">Weight Lifting</a></li>
          <li><a class="dropdown-item fc-event" href="#">TRX</a></li>
          <li><a class="dropdown-item fc-event" href="#">Crossfit</a></li>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Duration</div>
          <li><a class="dropdown-item fc-event" href="#">30 minutes or less</a></li>
          <li><a class="dropdown-item fc-event" href="#">30 min - 1 hour</a></li>
          <li><a class="dropdown-item fc-event" href="#">1 hour +</a></li>
          <span class="dropdown-item-text">Hustle for that muscle!</span>
        </ul>
      </div>
    </div>
  </div>
    <br>

    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Aerobic
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div class="dropdown-header">Type</div>
          <li><a class="dropdown-item fc-event" href="#">Yoga</a></li>
          <li><a class="dropdown-item fc-event" href="#">Pilates</a></li>
          <li><a class="dropdown-item fc-event" href="#">Other</a></li>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Duration</div>
          <li><a class="dropdown-item fc-event" href="#">30 minutes or less</a></li>
          <li><a class="dropdown-item fc-event" href="#">30 min - 1 hour</a></li>
          <li><a class="dropdown-item fc-event" href="#">1 hour +</a></li>
          <span class="dropdown-item-text">Stay determined!</span>
        </ul>
      </div>
    </div>
  </div>
    <br>

    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" " type=" button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Swimming
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div class="dropdown-header">Type</div>
          <li><a class="dropdown-item fc-event" href="#">Casually</a></li>
          <li><a class="dropdown-item fc-event" href="#">Laps</a></li>
          <li><a class="dropdown-item fc-event" href="#">Treading Water</a></li>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Duration</div>
          <li><a class="dropdown-item fc-event" href="#">30 minutes or less</a></li>
          <li><a class="dropdown-item fc-event" href="#">30 min - 1 hour</a></li>
          <li><a class="dropdown-item fc-event" href="#">1 hour +</a></li>
          <span class="dropdown-item-text">Just keep swimming!</span>
        </ul>
      </div>
    </div>
  </div>
    <br>

    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type=" button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Other
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div class="dropdown-header">Type</div>
          <li><a class="dropdown-item fc-event" href="#">Hiking</a></li>
          <li><a class="dropdown-item fc-event" href="#">Cycling</a></li>
          <li><a class="dropdown-item fc-event" href="#">Running</a></li>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Duration</div>
          <li><a class="dropdown-item fc-event" href="#">30 minutes or less</a></li>
          <li><a class="dropdown-item fc-event" href="#">30 min - 1 hour</a></li>
          <li><a class="dropdown-item fc-event" href="#">1 hour +</a></li>
          <span class="dropdown-item-text">You are built to be epic!</span>
        </ul>
      </div>
    </div>
  </div>
    <br>
    <br>
    <p>
      <strong>Meals</strong>
    </p>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Breakfast
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item fc-event listItems" href="#">Light Breakfast- under 300 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Breakfast- between 300-500 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Large Breakfast- over 500 calories</a></li>
        </ul>
      </div>
    </div>
  </div>
    <br>

    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Lunch
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item fc-event" href="#">Light Lunch- under 300 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Lunch- between 300-600 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Large Lunch- over 600 calories</a></li>
        </ul>
      </div>
    </div>
  </div>
    <br>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Dinner
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item fc-event" href="#">Light Dinner- under 400 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Dinner- between 400-700 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Large Dinner- over 700 calories</a></li>
        </ul>
      </div>
    </div>
  </div>
    <br>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Snacks
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item fc-event" href="#">Snacks- under 100 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Snacks- between 100-200 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Snacks- over 200 calories</a></li>
        </ul>
      </div>
    </div>
  </div>
    <br>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
      <div class='fc-event-main'>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-expanded="false">
          Drinks
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item fc-event" href="#">Drinks- under 100 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Drinks- between 100-200 calories</a></li>
          <li><a class="dropdown-item fc-event" href="#">Drinks- over 200 calories</a></li>
        </ul>
      </div>
    </div>
  </div>
    <br>
    <br>
    <br>
    <button id='Delete'>Delete Events</button><i class="bi bi-trash3-fill"></i></p> </div>
  </div>

  <div class="w-100" id='calendar'></div>

  <ul id="footer" class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="https://www.calorieking.com/us/en/" target="_blank">Calculate Calories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.verywellfit.com/how-many-calories-you-burn-during-exercise-4111064" target="_blank">Calculate Burned Calories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.eatthis.com/healthy-food-substitutes/" target="_blank">Healthy Food Alternatives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.healthline.com/health/fitness-exercise/at-home-workouts" target="_blank">At-Home Workout Tips</a>
    </li>
  </ul>

  <script src="/js/example.js"></script>