<style>
        body {
  background-image: url('https://images.unsplash.com/photo-1571748982800-fa51082c2224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
  background-repeat: no-repeat; background-size: cover;
}
section{
  margin-top: 20%;
}
footer{
  padding-bottom: 2%;
}
</style>


{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-info bg-gradient align-items-center">
      <div class="container-fluid">
        <a class="navbar-brand text-center" href="/login">Start Your Fitness Journey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
      <p id="logout">LOGOUT</p>
    </nav> --}}
     <section>
      <div class="container text-center text-white mt-5">
        <div class="banner-text">
          <div class="text-area">
       <h1>Welcome to All Pain No Grain</h1>
        </div>

      </div>
    </div>
  </section>

    <section class="text-center text-white mt-5 mb-0">
      <div style="background-color: rgba(0, 0, 0, .5); width: 30%; margin: 0 auto; border-radius:30px; padding: 5px 10px;">
      <h3 id="quotebox">"Our greatest glory is not in never falling, but in rising every time we fall."</h3>
    </div>
    <div id="authorbox" style="background-color: rgba(0, 0, 0, .5); width: 10%; margin: 0 auto; border-radius:0 0 30px 30px;"></div>
    </section>
    <div class="bg-light text-dark text-center">
    <section>
    <footer>
      <h2>Hungry for Apples</h2>
      {{!-- <i class='fas fa-apple-alt' style='font-size:48px;color:red'></i> --}}
    </footer>
  </section>
</div>

<script src="/js/quote.js"></script>
<script src="/example.js"></script>
{{!-- <script src="./public/js/quote.js"></script> --}}