<h1>All Pain No Gain</h1>
<div>Quotes</div>

<a href="http://localhost:3001/login"></a>





<nav class="navbar navbar-expand-lg navbar-light bg-info bg-gradient align-items-center">
      <div class="container-fluid">
        <a class="navbar-brand text-center" href="#">Start Your Fitness Journey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>