 <style>
  body{
    background-image: url(https://images.unsplash.com/photo-1468971050039-be99497410af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80); background-repeat: no-repeat; background-size: cover;
  }
</style>
 
<div class="row text-center justify-content-center m-0">
      
      <div class=" card mb-3 col-md-6 text-warning mt-3 align-items-right bg-transparent">
      <form class="login-form" style="max-width: 280px">
        <h2 class="h3 mb-3">Sign in</h2>
        <label for="" class="sr-only"></label>
        <input type="email" id="email-login" class="form-control" placeholder="Email Address" required autofocus>
        <label for="password"></label>
        <input type="password" id="password-login" placeholder="Password" class="form-control
        "> 
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Remember Me
          </label>
        </div>
        <div class="mt-3">
        <button class="btn btn-lg btn-warning btn-block">Sign in</button>
      </div>
      </form>
      </div>

      {{!-- <div class="row text-center justify-content-center m-0"> --}}
      {{!-- <div class="row text-center justify-content-center"> --}}
        <div class=" card custom-card col-md-6  mt-5 align-items-right bg-transparent">
        <form class="form signup-form" style="max-width: 280px;">
          <h2 class="h3 mb-3 mt-3 text-danger">Sign Up</h2>
          <label for="name" ></label>
          <input type="text" class="form-control" id="name-signup" placeholder="Name" >
          <label class="sr-only"></label>
          <input type="email" id="email-signup" class="form-control" placeholder="Email Address" required autofocus>
          <label for="password"></label>
          <input type="password" id="password-signup" placeholder="Password" class="form-control
          "> 
          <div class="mt-3">
          <button class="btn btn-lg btn-danger btn-block">Sign Up</button>
        </div>
        </form>
        </div>
</div>

</div>    

    <script src="/js/login.js"></script>

